$background-color: #884a88;

html {
    min-height: 100%;
    position: relative;
}

body {
    padding: 0 0 2vw;
    margin: 0;

    color: white;
    background-color: #c4a4c4;

    font-family: 'Fjalla One', sans-serif;
}

header {
    background-color: $background-color;
    margin: 0;
    padding: .3rem 0 .3rem;
    border-radius: 0 0 1rem 1rem;

    h1 {
        text-align: center;
        margin: 1rem;

        font-family: 'VT323', monospace;
        font-size: 5rem;
    }
}

nav {
    border-radius: 1rem;

    margin: 1rem 5rem;

    display: flex;
    justify-content: center;

    a {
        display: flex;
        align-items: center;

        text-align: center;
        text-decoration: none;
        color: white;

        border-radius: 1rem;

        margin: 0 1rem;
        padding: .5rem;


        background-color: $background-color;

        img {
            height: 2rem;
        }
    }
}

.dropdown {
    background-color: $background-color;

    border-radius: 1rem;

    padding-left: 3rem;
    padding-right: 3rem;

    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 3rem;

    p {
        margin-top: .2rem;
    }

    h3 {
        margin-bottom: 0;
    }

    :hover {
        cursor: pointer;
    }
}

.dropdownArrowDown {
    transform: rotate(.5turn);
    display: inline-block;
}

footer {
    position: absolute;

    right: 0;
    left: 0;
    bottom: 0;

    a {
        text-decoration: none;
        font-size: 1.5vw;

        background-color: $background-color;
        color: white;

        padding: 1vw 1vw 0 0;
        margin: 1vw 0 1vw 1vw;

        border-radius: 1vw 1vw 0 0;

        strong {
            background-color: white;
            color: $background-color;
            padding: 1vw 1vw 0;

            border-radius: 1vw 0 0 0;
        }
    }

    a:hover {
        background-color: white;
        color: $background-color;

        strong {
            background-color: $background-color;
            color: white;
        }
    }
}