html {
  min-height: 100%;
  position: relative;
}

body {
  padding: 0 0 2vw;
  margin: 0;
  color: white;
  background-color: #c4a4c4;
  font-family: "Fjalla One", sans-serif;
}

header {
  background-color: #884a88;
  margin: 0;
  padding: 0.3rem 0 0.3rem;
  border-radius: 0 0 1rem 1rem;
}
header h1 {
  text-align: center;
  margin: 1rem;
  font-family: "VT323", monospace;
  font-size: 5rem;
}

nav {
  border-radius: 1rem;
  margin: 1rem 5rem;
  display: flex;
  justify-content: center;
}
nav a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 1rem;
  margin: 0 1rem;
  padding: 0.5rem;
  background-color: #884a88;
}
nav a img {
  height: 2rem;
}

.dropdown {
  background-color: #884a88;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 3rem;
}
.dropdown p {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
.dropdown h3 {
  margin-bottom: 0;
}
.dropdown li {
  list-style: none;
  margin-bottom: 0.5rem;
}
.dropdown :hover {
  cursor: pointer;
}

.dropdownArrowDown {
  transform: rotate(0.5turn);
  display: inline-block;
}

footer {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
footer a {
  text-decoration: none;
  font-size: 1.5vw;
  background-color: #884a88;
  color: white;
  padding: 1vw 1vw 0 0;
  margin: 1vw 0 1vw 1vw;
  border-radius: 1vw 1vw 0 0;
}
footer a strong {
  background-color: white;
  color: #884a88;
  padding: 1vw 1vw 0;
  border-radius: 1vw 0 0 0;
}
footer a:hover {
  background-color: white;
  color: #884a88;
}
footer a:hover strong {
  background-color: #884a88;
  color: white;
}