body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #797979;
  margin: 0;
  padding: 1rem 0 .3rem;
  border-radius: 0 0 1rem 1rem;
}

header h1 {
  text-align: center;
  padding: none;
}

nav {
  background-color: #797979;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: .5em;
  padding-bottom: 1em;
  margin: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav a {
  text-align: center;
  margin: 0 1rem;
}

.dropdown {
  background-color: #797979;
  border-radius: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: .5em;
  padding-bottom: 1em;
  margin: 3rem;
}
